<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

  <% end %>
  <%= label_tag("Roll Number") %>
  <%= text_field(:student, :roll) %>
  <br>
  <%= label_tag("Name") %>
  <%= text_field(:student, :name) %>
  <br>
  <%= label_tag(:roll, "Mobile") %>
  <%= text_field(:student, :mobile) %>
  <br>
  <%= label_tag(:roll, "Branch") %>
  <%= text_field(:student, :branch) %>
  <br>
  <%= label_tag(:roll, "Year") %>
  <%= text_field(:student, :year) %>
  <br>
  <%= label_tag(:roll, "Date of Birth") %>
  <%= date_field(:student, :d_o_b) %>
  <br>
  <%= radio_button_tag(:gender, "male") %>
  <%= label_tag(:male, "Male") %>
  <%= radio_button_tag(:gender, "female") %>
  <%= label_tag(:female, "Female") %>
  <br>
  <%= label_tag(:roll, "City") %>
  <%= text_field(:student, :city) %>
  <br>
  <%= label_tag(:roll, "Password") %>
  <%= password_field_tag(:student, :password) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
